<div class="box right"> 
  <blockquote class="center nowrap">
    “The worm is the species that’s going to be profitting most from latest AI advancements.”
  </blockquote>
  — Famous Worm Philosopher
</div>
<div class="box">
  <iframe class="embed"
          src="https://www.youtube-nocookie.com/embed/3sq1OArzWF8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>

